:root {
    --grid-cols: 1;
    --grid-cols: 1;
}

#container {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    max-height: 70vh;
    max-width: 70vw;
}

.grid-item {
    padding: 1rem;
    border: 0.5px solid black;
    text-align: center;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: 0s 180s;
}

.grid-item:hover {
    transition: 0s;
    background-color: tomato;
}